:root {
    //titlebar vars
    --tittlebar-height: 45px;
    --tittlebar-background: #2a3038;
    --titlebar-font-color: #f5f6fa;

    //toolbar vars
    --toolbar-height: calc(100vh - var(--tittlebar-height));
    --toolbar-background: #2F3640;
    
    //toolbar-main vars
    --toolbar-main-width: 75px;
    --toolbar-main-button-size: calc(var(--toolbar-main-width) / 1.33);

    //toolbar-child vars
    --toolbar-child-background: #2F3640;

    //toolbar vars
    --toolbar-padding-top: calc((var(--toolbar-main-width) - var(--toolbar-main-button-size)) / 2)
}