<section id="toolbar">
    <section id="main-bar">
        <button (click)="this.setTool('note')" class="btn" matTooltip="Notes" matTooltipPosition="after" #noteBtnTooltip="matTooltip">
            <i class="material-icons notes">
                note
            </i>
        </button>
        <button class="btn" matTooltip="Notebooks" matTooltipPosition="after" #notebookBtnTooltip="matTooltip">
            <i class="material-icons">
                menu_book
            </i>
        </button>
        <button routerLink="" class="btn" matTooltip="Groups" matTooltipPosition="after" #groupBtnTooltip="matTooltip">
            <i class="material-icons">
                supervised_user_circle
            </i>
        </button>
    </section>
    <section id="child-bar">
        <router-outlet name="tool"></router-outlet>
    </section>
</section>