<section id="toolbar">
    <section id="main-bar" cdkDropList (cdkDropListDropped)="this.drop($event, this.buttons)">
        <div class="buttons-wrapper">
            <ng-container *ngFor="let button of this.buttons">
                <button type="button" [id]="button.title" cdkDrag cdkDragBoundary=".buttons-wrapper" cdkDragLockAxis="y"
                    (click)="this.onClick(button)" [class.active]="this.isActive(button)">
                    <i class="material-icons-sharp" [class]="button.classList">{{button.icon}}</i>
                    <label [for]="button.title">{{button.title}}</label>
                </button>
            </ng-container>
        </div>
    </section>
    <section id="child-bar">
        <router-outlet name="tool"></router-outlet>
    </section>
</section>