<section id="toolbar">
    <section id="main-bar" cdkDropList (cdkDropListDropped)="this.drop($event, this.buttons)">
        <button cdkDrag cdkDragBoundary="#main-bar" cdkDragLockAxis="y" *ngFor="let button of this.buttons" (click)="this.onClick(button)" [class.active]="this.isActive(button)">
            <i class="material-icons" [class]="button.classList">{{button.icon}}</i>
        </button>
    </section>
    <section id="child-bar">
        <router-outlet name="tool"></router-outlet>
    </section>
</section>