tsr-drop-down-header {
	position: relative;
	background-color: #383f49;
	display: flex;
	align-items: center;
	height: 24px;
	border-radius: unset;
	user-select: none;
	transition: 100ms background-color ease-in-out;
	color: white;

	span {
		margin: 2px 0;
		font-weight: 600;
		letter-spacing: -1px;
		font-size: 13px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		pointer-events: none;
	}

	i {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		height: 100%;
		display: flex;
		align-items: center;
		font-size: 17px;
		opacity: 0;
		cursor: grab;
		transition: 100ms opacity ease-in-out;
	}
}

tsr-drop-down-header:hover {
	background-color: #3d434d;
	i {
		opacity: 1;
	}
}

button {
	width: 100%;
	outline: unset;
	border: unset;
	background-color: unset;
	display: flex;
	align-items: center;
	height: 34px;
	padding: 0;
	margin-top: 1px;
	user-select: none;
	background-color: #3b4252;
	cursor: pointer;
	i {
		color: var(--color-main-white);
		margin: 0 8px;
		font-size: 20px;
	}
	span {
		white-space: nowrap;
		text-overflow: ellipsis;
		color: var(--color-text-light);
		letter-spacing: 0px;
		font-size: 11px;
		text-transform: uppercase;
	}
}

button:hover {
	background-color: #3a4858;
}

button:last-child {
	margin-bottom: 1px;
}

button.active {
	position: relative;
	i, span {
		color: white;
	}
}

button.active:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-left: 1px solid white;
	background-color: #446d8236;
	pointer-events: none;
}

button:hover {

}
