tsr-drop-down-header {
	position: relative;
	background-color: #383f49;
	display: flex;
	align-items: center;
	height: 24px;
	border-radius: unset;
	user-select: none;
	color: #a3dcdc;
	transition: 100ms background-color ease-in-out;

	span {
		margin: 2px 0;
		font-family: "rubik";
		font-weight: 500;
		letter-spacing: -1px;
		font-size: 13px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		pointer-events: none;
	}

	i {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		height: 100%;
		display: flex;
		align-items: center;
		font-size: 17px;
		opacity: 0;
		cursor: grab;
		transition: 100ms opacity ease-in-out;
	}
}

tsr-drop-down-header:hover {
	background-color: #3d434d;
	i {
		opacity: 1;
	}
}

tsr-drop-down-body {
	button {
		width: 100%;
		outline: unset;
		border: unset;
		background-color: unset;
		display: flex;
		align-items: center;
		color: #10ac84;
		height: 34px;
		padding: 0;
		margin-top: 1px;
		user-select: none;
		background-color: #3b4252;
		cursor: pointer;
		i {
			margin: 0 8px;
			font-size: 20px;
		}
		span {
			white-space: nowrap;
			text-overflow: ellipsis;
			/* overflow: hidden; */
			font-weight: 500;
			letter-spacing: -1px;
			font-size: 12px;
			text-transform: uppercase;
		}
	}
	button:last-child {
		margin-bottom: 1px;
	}
	button.active {
		background: linear-gradient(
			270deg,
			rgba(0, 170, 255, 0.185) 0%,
			rgba(0, 170, 255, 0.014) 26%,
			rgba(0, 212, 255, 0) 100%
		);
		background-color: #3b4252;
		border-right: 3px solid #10ac84;
	}
	button:hover {
		background: linear-gradient(
			270deg,
			rgba(0, 170, 255, 0.185) 0%,
			rgba(0, 170, 255, 0.014) 26%,
			rgba(0, 212, 255, 0) 100%
		);
		background-color: #3b4252;
	}
}
